$primaryTitleColor: #212121;
$primaryTextColor: #212121;
$secondaryTitleColor: #FFF;
$secondaryTextColor: #757575;
$backgroundDarkColor: #2F303A;
$backgroundLightColor: #F5F4FA;
$accentColor: #2196F3;
$accentDarkColor: #014379;
$iconColor: #AFB1B8;
$cardGap: 30px;

