@use '../utilities/variables' as *;

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24);
    
    &--blue {
        color: $accentColor;
        transition: color 250ms ease-in-out;
    }
    &:hover>.logo--blue,
    &:focus>.logo--blue {
        color: $accentDarkColor;
    }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1200px) {
    .logo {
        font-size: 26px;
        line-height: calc(31/26);
    }
}