@use '../utilities/variables' as *;

.header {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        @media screen and (min-width: 768px) {
            height: 80px;
        }
    }   
    &__logo {
        display: block;
        &--black {
            color: $primaryTitleColor;
            transition: color 250ms ease-in-out;
        }
        &:hover>.header__logo--black,
        &:focus>.header__logo--black {
            color: $accentColor;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 97px;
        }
    }
    &__link {
        color: $primaryTitleColor;
        background: none;
        border: none;
        cursor: pointer;
        transition: color 250ms ease-in-out;
        &:hover,
        &:active {
            color: $accentColor;
        }
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    &__icon {
        fill: currentColor;
    }
}
.menuContainer {
    width: 40px;
    height: 40px;
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.headerNav {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
    }
}
.nav {
    display: flex;
    &__item:not(:last-child) {
        margin-right: 53px;
    }
    &__link {
        font-family: 'Roboto';
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
        color: $primaryTextColor;
        padding: 32px 0;
        display: block;
        transition: color 250ms ease-in-out;
        &:hover,
        &:focus {
            color: $accentColor;
        }
    }
    
    &__link--current {
        color: $accentColor;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 4px;
            bottom: 0;
            right: 0;
            width: 100%;
            background: $accentColor
        }
    }
}
.contact {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-direction: column;
    }
    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }
    &__container {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            &:not(:last-child) {            
                margin-bottom: 10px;
            }
        }        
        @media screen and (min-width: 1200px) {
            &:not(:last-child) {
                margin-right: 50px;
                margin-left: auto;
            }
        }        
    }
    &__link {
        font-style: normal;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
        color: $secondaryTextColor;        
        display: flex;
        align-items: center;
        transition: color 250ms ease-in-out;
        &:hover,
        &:focus {
            color: $accentColor
        }
    }
    &__icon {
        margin-right: 10px;
        fill: currentcolor;
    }
}