@use '../utilities/variables' as *;

.card {
    display: flex;
    flex-wrap: wrap;
    &__item {
        max-width: 450px;
        background-color: $secondaryTitleColor;
        border: 1px solid #EEEEEE;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        @media screen and (min-width: 768px) {
            width: 354px;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px){
            &:nth-child(odd) {
                margin-right: 25px;
            }     
        }
        @media screen and (min-width:1200px) {
            width: 370px;
            &:nth-child(3n + 1),
            &:nth-child(3n + 2) {
                margin-right: 30px;
            }
        }
        &:hover .card__overlay,
        &:focus .card__overlay {
            transform: translateY(-100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }
    &__image {
        &--mobile {
                @media screen and (min-width: 768px) {
                    display: none;
                }
            }
            &--tablet {
                display: none;
                @media screen and (min-width: 768px) and (max-width: 1199px) {
                    display: inline;
                }
            }
            &--desk {
                display: none;
                @media screen and (min-width: 1200px) {
                    display: inline;
                }
            }
    }
    &__overlay {
        color: $secondaryTitleColor;
        position: absolute;
        z-index: 1;
        background: rgba(33, 150, 243, 0.9);
        width: 100%;
        height: 294px;
        transform: translateY(0%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        justify-content: center;
        top: 294px;
    }
    &__overlay>p {
        max-width: 322px;
        margin-top: 63px;
        font-weight: 400;
        font-size: 18px;
        line-height: calc(28/18);
    }
    &__textbox {
        position: relative;
        z-index: 2;
        background-color: $secondaryTitleColor;
        display: flex;
        flex-direction: column;
        margin-top: -5px;
    }
    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: calc(36/18);
        letter-spacing: 0.06em;
        color: $primaryTitleColor;
        margin-top: 20px;
        margin-left: 24px;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: calc(30/16);
        color: $secondaryTextColor;
        margin-top: 4px;
        margin-left: 24px;
        margin-bottom: 20px;
    }
}